/* Regular */
@font-face {
    font-family: "Avenir";
    src: url("../../assets/Fonts/AvenirNextLTPro-Regular.otf")
    format("opentype"), url("../../assets/Fonts/alternative/AvenirNextLTPro.ttf") format("truetype");
    font-weight: 400;

}

/* Demi*/
@font-face {
  font-family: "Avenir";
  src: url("../../assets/Fonts/AvenirNextLTPro-Demi.otf")
    format("opentype"), url("../../assets/Fonts/alternative/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;

}

/* Bold */
@font-face {
  font-family: "Avenir";
  src: url("../../assets/Fonts/AvenirNextLTPro-Bold.otf")
    format("opentype"), url("../../assets/Fonts/alternative/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
 
}
