@use "../fonts" as *;
@use "../colors" as *;
@use "../mixins" as mixins;



.footer {
  background-color: $primary-black;
  color: $primary-white;

  padding: 3.2rem 1.6rem 2.4rem 1.6rem;
  line-height: 1.125;

  p {
    font-size: 1.3rem;
  }

  h6 {
    font-size: 1.3rem;
    font-weight: 600;
  }

  &__wraper {
    width: 90vw;
    margin: 0 auto;
  }

  &__touch-title {
    font-size: 2.4rem;
    font-weight: 600;
  }

  &__icon {
    width: 100%;
    max-width: 2.4rem;
    max-height: 2.4rem;
    margin-right: 2.4rem;
    cursor: pointer; 
    @include mixins.hover-effect($primary-silver);
  }
  
  &__icon-wrap {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
  }

  &__content {
    a {
      color: $primary-white;
      cursor: pointer;
      @include mixins.hover-effect($primary-silver);
    }
    padding-bottom: 2.4rem;
  }

  &__content--styling {
    padding-bottom: 1.6rem;
  }

  &__content-inner--padding {
    padding-bottom: 1.6rem;
  }


  &__logo {
    @include mixins.logo;
    @include mixins.hover-effect($primary-silver);
  }

  &__logo--md {
    display: none;
  }
}

@include mixins.mq-medium {
  .footer {
    padding: 4.8rem 3.2rem;
    line-height: 1.25;

    &__logo {
      width: min(18vw, 15rem);
    }

    &__logo--sm {
      display: none;
    }

    &__logo--md {
      display: block;
      cursor: pointer;
      @include mixins.hover-effect($primary-silver);
    }
    

    &__touch {
      @include mixins.flexed(row, flex-start, center);
    }

    &__icon-wrap {
      flex-basis: 20rem;
      margin-left: 3rem;
      flex-grow: 1;
    }

    &__content {
      @include mixins.flexed(row, flex-start, flex-start);
      padding-top: 3.2rem;
      font-size: 1.4rem;
    }

    &__content-wrap {
      padding-right: 4vw;
    }

    &__copyright {
      font-size: 1.4rem;
    }
  }
}

@include mixins.mq-large {
  .footer {
    &__touch-title {
      font-size: 4.5rem;
    }

    &__icon-wrap {
      padding-left:2.2rem
    }

     &__content-wrap {
      padding-right: 7vw;
    }
  }
}
