@use "../reset" as *;
@use "../fonts" as *;
@use "../colors" as *;
@use "../mixins" as mixins;

/* styles for header for mobile */
.header {
  background-color: $primary-black;
  font-size: clamp(2.4rem, 5vw, 3.6rem);
  color: $primary-white;
  font-style: normal;
  font-weight: 400;
  text-align: center;

  @include mixins.flexed(column, center, space-evenly);
  width: 100%;

  &__company-name {
    font-size: 3.6rem;
    padding-top: 2.4rem;
    padding-bottom: 1.6rem;
  }

  &__menu {
    @include mixins.flexed(row, space-evenly, center);
  }

  &__menu-item {
    padding-bottom: 1.6rem;
    text-align: center;
    color:$secondary-mercury;
    flex: 1 1 0;
    border-bottom: 3px solid transparent;

    &:hover,
    &:active {
      font-weight: 600;
      border-bottom: 3px solid $primary-white;
    }
  }

  &__menu-item-link {
    color: $primary-white;
  }
}
/* styles for header on tablet device */

@include mixins.mq-medium {
  .header {
    @include mixins.flexed(row, flex-start, center);

    &__company-name {
      padding: 0 4.8rem;
      
    }

    &__navigation {
      font-size: 3.6rem;
    }

    &__menu-item {
      @include mixins.flexed(column, center, center);
      padding: 0 5.4rem;
      border-bottom: 0;
      &:hover {
        border-bottom: 0;
      }
    }
    &__menu-item-link {
      padding: 2.4rem 0;
      border-bottom: 3px solid transparent;
      &:hover,
      &:active {
        border-bottom: 3px solid $primary-white;
      }
    }
  }
}
