@use "../fonts" as *;
@use "../colors" as *;
@use "../mixins" as mixins;

/* styles for header for mobile */
.header {
  background-color: $primary-black;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  text-align: center;

  @include mixins.flexed(column, center, space-evenly);
  width: 100%;

  &__logo {
    width:100%;
    max-width:15rem;
    height: 8rem;
    cursor: pointer;
     color: $primary-white;
    @include mixins.hover-effect($secondary-mercury);

  }


  &__menu {
    @include mixins.flexed(row, space-evenly, center);
    padding-inline-start:0;
  }

  &__menu-item {
    padding-bottom:1.3rem;
    text-align: center;
    color:$secondary-mercury;
    flex: 1 1 0;
    border-bottom: 4px solid transparent;
    transition: border 0.2s ease-in-out;

    &:hover,
    &:active {
      font-weight: 600;
      border-bottom: 4px solid $primary-white;
    }
  }

  &__menu-item-link {
    color: $primary-white;  
  }
}
/* styles for header on tablet device */

@include mixins.mq-medium {
  .header {
    @include mixins.flexed(row, flex-start, center);

    
    &__logo {
       color: $primary-white;
      padding-left:4.8rem;
      width:30rem;
      box-sizing: content-box;
      @include mixins.flexed(column, center, center);
      
    }

    &__menu{
      padding-left: 4.2rem;
      @include mixins.flexed(row, flex-start, center);
    }

    &__menu-item {
      @include mixins.flexed(column, flex-end, center);
     
      padding: 0 2.4rem;
      border-bottom: 0;
      &:hover {
        border-bottom: 0;
      }
    }
    &__menu-item-link {
      font-size: 2rem;
      padding: 3.2rem 0;
      border-bottom: 4px solid transparent;
      &:hover,
      &:active {
        border-bottom: 4px solid $primary-white;
      }
    }
  }
}


