@use "../reset" as *;
@use "../fonts" as *;
@use "../colors" as *;
@use "../grid" as *;
@use "../mixins" as mixins;

.main {
  color: $primary-black;

  &__musician {
    font-weight: 600;
    padding: 0 1.6rem;
  }

  &__musician-title {
    font-size: 3.6rem;
    padding-top: 2.4rem;
    padding-bottom: 1.6rem;
  }

  &__musician-image {
    width: 100%;
  }

  &__musician-subtitle {
    padding-top: 1.6rem;
    font-size: 2.4rem;
    line-height: 1.8;
  }

  &__musician-author {
    padding-bottom: 1.2rem;
    line-height: 1.4;
  }

  &__bees {
    @extend .grid;
    padding: 2.4rem 1.6rem;
    color: $secondary-darkBlack;
  }

  &__bees-title {
    padding-bottom: 1rem;
    font-size: 2rem;
    line-height: 1.375;
    font-weight: 600;
  }

  &__bees-content {
    @extend .grid;
    @extend .grid--1x2;
    font-size: 1.8rem;
    line-height: 1.4;
  }
}

@include mixins.mq-medium {
  .main {
    &__musician {
      padding: 0 3.6rem;
    }

    &__musician-title {
      font-size: 4.8rem;
      padding-top: 4.8rem;
      padding-bottom: 3.6rem;
    }

    &__musician-subtitle {
      padding-top: 3.2rem;
      font-size:3.2rem;
      line-height: 1.5;
    }

    &__musician-author {
     font-size:2.4rem;
     padding-top:1.6rem;
      padding-bottom: 4.8rem;
    }

     &__bees-title {
    font-size: 3.6rem;
  }

    &__bees-content {
      font-size: 2rem;
      line-height:1.5;
    }

    &__musician-wraper,
    &__bees {
      width: 80%;
      margin: 0 auto;
    }
  }
}
