@use "../fonts" as *;
@use "../colors" as *;
// @use "../grid" as *;
@use "../mixins" as mixins;

.gallery{
    width:100%;
    height:auto;
    background-color: $secondary-alabaster;
    padding-left:1.6rem;
    padding-right:1.6rem;
    
    &__image-wrap{
        // @extend .grid;
        // @extend .grid--1x3;
        padding-top:1.6rem;
        padding-bottom:2.4rem;
        

    }

    &__title{
    font-weight: 600;
    font-size: 3.6rem;
    padding-top: 2.4rem;
    color:$primary-black;
    }

    &__image{
        padding-bottom:1.6rem;
        width:100%;
        height:auto;
        max-width:100%;
        object-fit:cover;
        cursor: pointer;
        filter:grayscale(70%);
        transition: filter .25s ease-in-out;
        &:hover{
            filter:grayscale(0);
        }
          
    }
}

@include mixins.mq-medium{
    .gallery{
        padding:2.4rem 1.6rem 0;
     
        &__wrap{
            width:90vw;
            margin:0 auto;        
        }

        &__image-wrap{
            @include mixins.flexed(row, center, center);
            flex-wrap: wrap;
            margin: 0 auto;
        }

        &__image{
            margin: 0 auto;
            display: inline-block;
            max-width:31%;
        }
    
}
}