@use "../fonts" as *;
@use "../colors" as *;
@use "../mixins" as mixins;

.gallery{
    width:100%;
    height:auto;
    background-color: $color-alternative;
    padding-left:1.6rem;
    padding-right:1.6rem;
    // max-width:1280px;
    // margin:0 auto;
    
    &__image-wrap{
        padding-top:1.6rem;
        padding-bottom:1.6rem;
        

    }

    &__title{
    font-weight: 600;
    font-size: 2.4rem;
    padding-top: 2.4rem;
    padding-bottom:1.6rem;
    color:$color-primary;
    }

    &__image{
        padding-bottom:1.6rem;
        width:100%;
        height:auto;
        max-width:100%;
        object-fit:cover;
        cursor: pointer;
        filter:grayscale(70%);
        transition: filter .25s ease-in-out;
        &:hover{
            filter:grayscale(0);
        }
          
    }
}

@include mixins.mq-medium{
    .gallery{
        &__title{
            font-size: 3.6rem;
            padding-top: 4.8rem;
            padding-bottom:3.6rem;
        }
     
        &__wrap{
            width:90vw;
            margin:0 auto;   

        }

        &__image-wrap{
            @include mixins.flexed(row, center, center);
            flex-wrap: wrap;
            margin: 0 auto;
            padding-top:0;
            padding-bottom:4.8rem;
        }

        &__image{
            margin: 0 auto;
            display: inline-block;
            max-width:31%;
        }
    
}
}