@use "../fonts" as *;
@use "../colors" as *;
@use "../mixins" as mixins;


.shows{
    margin: 1.6rem;
    button{
        width:100%;
        @include mixins.button;
    }

    &__hr{
    border:1px solid $secondary-mercury;
    margin-top: 2.4rem;
    margin-bottom:1.6rem;
    }
    
    &__title{
        @extend.font__section-header;
        @extend.padding;
    }

    &__date,
    &__venue,
    &__location{
        @extend.font__body;
        padding-bottom: 0.6rem;
        color:$primary-silver;
    }


    &__dateDetail,
    &__venueDetail,
    &__locationDetail{
       @extend.font__sub-header;
       padding-bottom: 1.2rem;
       color:$primary-black;
    }
}


@include mixins.mq-medium {
.shows{
    padding:0 2.4rem 2.4rem 2.4rem;
    
    button{
        max-width:15rem;
        flex:1 1 0;
    }

    &__content{
        @include mixins.flexed(row,space-around,flex-end);
        position:relative;
        padding-bottom: 3.2rem;
    }    

    &__title{
        @extend.font__section-header--medium;
        @extend.padding--medium;
    }

    &__date,
    &__venue,
    &__location{
       
        display: none;
    }

    &__dateDetail,
    &__venueDetail,
    &__locationDetail{
       @extend.font__body--medium;
       padding-bottom: 1.2rem;
       color:$primary-black;
       flex:1 1 0;
    }

    &__hr{
position:absolute;
top:30px;
width:100%;
    }

}

}
