
@use "./partials/components/header";

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
  font-family:'Avenir';
  font-weight:400 ;
  background-color: purple;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}