/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Regular */
@font-face {
  font-family: "Avenir";
  src: url("../../assets/Fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/Fonts/alternative/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
}
/* Demi*/
@font-face {
  font-family: "Avenir";
  src: url("../../assets/Fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../assets/Fonts/alternative/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
}
/* Bold */
@font-face {
  font-family: "Avenir";
  src: url("../../assets/Fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/Fonts/alternative/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
}
/* media query */
/* styles for header for mobile */
.header {
  background-color: #323232;
  font-size: 2.4rem;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-evenly;
}
.header__company-name {
  padding-top: 2.4rem;
  padding-bottom: 1.6rem;
}
.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.header__menu-item {
  padding-bottom: 1.6rem;
  text-align: center;
  flex: 1 1 0;
}
.header__menu-item--active {
  border-bottom: 3px solid #FFFFFF;
}
.header__menu-item:hover {
  border-bottom: 3px solid #000000;
}
.header__menu-item-link {
  color: #FFFFFF;
}

/* styles for header on tablet device */
@media (min-width: 768px) {
  .header {
    font-size: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .header__company-name {
    padding: 4.8rem;
  }
  .header__navigation {
    font-size: 3.6rem;
  }
  .header__menu-item {
    padding: 4.8rem;
  }
  .header__menu-item--active {
    border-bottom: none;
  }
  .header__menu-item:hover {
    border-bottom: none;
  }
  .header__menu-item-link--active {
    padding-bottom: 5.4rem;
    border-bottom: 3px solid #FFFFFF;
  }
  .header__menu-item-link:hover {
    padding-bottom: 5.4rem;
    border-bottom: 3px solid #000000;
  }
}
/* styles for header on desktop */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Avenir";
  font-weight: 400;
  background-color: purple;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}/*# sourceMappingURL=bio.css.map */