@use "./partials/components/header";
@use "./partials/components/hero";
@use "./partials/components/main-content";
@use "./partials/components/photo-gallery";


html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
  font-family:'Avenir';
  font-weight:400 ;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}