/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Regular */
@font-face {
  font-family: "Avenir";
  src: url("../../assets/Fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/Fonts/alternative/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
}
/* Demi*/
@font-face {
  font-family: "Avenir";
  src: url("../../assets/Fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../assets/Fonts/alternative/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
}
/* Bold */
@font-face {
  font-family: "Avenir";
  src: url("../../assets/Fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/Fonts/alternative/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
}
/* media query for mobile */
/* media query for tablet */
/* media query for desktop */
/* styles for header for mobile */
.header {
  background-color: #323232;
  font-size: clamp(2.4rem, 5vw, 3.6rem);
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-evenly;
  width: 100%;
}
.header__company-name {
  font-size: 3.6rem;
  padding-top: 2.4rem;
  padding-bottom: 1.6rem;
}
.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.header__menu-item {
  padding-bottom: 1.6rem;
  text-align: center;
  color: #E1E1E1;
  flex: 1 1 0;
  border-bottom: 3px solid transparent;
}
.header__menu-item:hover, .header__menu-item:active {
  font-weight: 600;
  border-bottom: 3px solid #FFFFFF;
}
.header__menu-item-link {
  color: #FFFFFF;
}

/* styles for header on tablet device */
@media only screen and (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .header__company-name {
    padding: 0 4.8rem;
  }
  .header__navigation {
    font-size: 3.6rem;
  }
  .header__menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5.4rem;
    border-bottom: 0;
  }
  .header__menu-item:hover {
    border-bottom: 0;
  }
  .header__menu-item-link {
    padding: 2.4rem 0;
    border-bottom: 3px solid transparent;
  }
  .header__menu-item-link:hover, .header__menu-item-link:active {
    border-bottom: 3px solid #FFFFFF;
  }
}
.hero {
  width: 100vw;
  height: 30vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(../../../assets/Images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
  /* change hero capacity */
  position: relative;
  /* change hero capacity */
}
.hero__title {
  /* change hero capacity */
  position: relative;
  font-size: 3.6rem;
  padding: 2.4rem;
  font-weight: 700;
  color: #FFFFFF;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

/* styles for hero on tablet device */
@media only screen and (min-width: 768px) {
  .hero {
    height: 70vh;
  }
  .hero__title {
    font-size: 6rem;
    padding: 4.8rem;
  }
}
.main {
  color: #323232;
}
.main__musician {
  font-weight: 600;
  padding: 0 1.6rem;
}
.main__musician-title {
  font-size: 3.6rem;
  padding-top: 2.4rem;
  padding-bottom: 1.6rem;
}
.main__musician-image {
  width: 100%;
}
.main__musician-subtitle {
  padding-top: 1.6rem;
  font-size: 2.4rem;
  line-height: 1.8;
}
.main__musician-author {
  padding-bottom: 3.2rem;
  line-height: 1.4;
}
.main__bees {
  padding: 0 1.6rem;
  color: #000000;
}
.main__bees-title {
  padding-bottom: 1rem;
  font-size: 2rem;
  line-height: 1.375;
  font-weight: 600;
}
.main__bees-content {
  font-size: 1.8rem;
  line-height: 1.4;
}

@media only screen and (min-width: 768px) {
  .main__musician {
    padding: 0 3.6rem;
  }
  .main__musician-title {
    font-size: 3.6rem;
    padding-top: 4.8rem;
    padding-bottom: 3.6rem;
  }
  .main__musician-subtitle {
    padding-top: 3.2rem;
    line-height: 1.8;
  }
  .main__musician-author {
    padding-bottom: 4.8rem;
  }
  .main__bees-content {
    font-size: 2rem;
  }
  .main__musician-wraper, .main__bees {
    width: 80%;
    margin: 0 auto;
  }
}
.grid {
  display: grid;
  gap: 1.6rem;
}

@media only screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;
  }
}
@media only screen and (min-width: 1280px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;
  }
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Avenir";
  font-weight: 400;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}/*# sourceMappingURL=bio.css.map */