html,
body {
  margin: 0;
  padding: 0;
  font-family: "Avenir", Arial;
  font-size: 62.5%;
  box-sizing: border-box;
}

p,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
  font-weight: 400;
}

label,
input,
textarea,
button {
  font-family: inherit;
  color: inherit;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

/* media query for mobile */
/* media query for tablet */
/* media query for desktop */
/* Flex */
/* hover-effect */
/* logo */
/* button */
/* Regular */
@font-face {
  font-family: "Avenir";
  src: url("../../assets/Fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/Fonts/alternative/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
}
/* Demi*/
@font-face {
  font-family: "Avenir";
  src: url("../../assets/Fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../assets/Fonts/alternative/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
}
/* Bold */
@font-face {
  font-family: "Avenir";
  src: url("../../assets/Fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/Fonts/alternative/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
}
/* padding setting */
.padding {
  padding-top: 2.4rem;
  padding-bottom: 1.6rem;
}

@media only screen and (min-width: 768px) {
  .padding--medium {
    padding-top: 4.8rem;
    padding-bottom: 2.4rem;
  }
}
/* font setting */
.page__header {
  font-size: 2.4rem;
  line-height: 2;
  font-weight: 700;
}

.font__section-header {
  font-size: 2.4rem;
  line-height: 2;
  font-weight: 700;
}

.font__sub-header {
  font-size: 1.4rem;
  line-height: 1.375;
  font-weight: 600;
}

.font__body, .hero__name-album {
  font-size: 1.3rem;
  line-height: 1.125;
  font-weight: 400;
}

@media only screen and (min-width: 768px) {
  .page__header--medium {
    font-size: 6rem;
    line-height: 2.75;
    font-weight: 700;
  }
  .font__section-header--medium, .hero__name-queen {
    font-size: 3.6rem;
    font-weight: 600;
  }
  .font__sub-header--medium {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
  .font__body--medium, .hero__name-album {
    font-size: 1.4rem;
  }
}
/* styles for header for mobile */
.header {
  background-color: #323232;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-evenly;
  width: 100%;
}
.header__logo {
  width: 100%;
  max-width: 12rem;
  max-height: 2rem;
  margin: 1.5rem 1.5rem 1.5rem 0;
  box-sizing: content-box;
  cursor: pointer;
  color: #FFFFFF;
  transition: all 0.25s ease-in-out;
}
.header__logo:hover {
  color: #AFAFAF;
}
.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
.header__menu-item {
  padding-bottom: 1.3rem;
  text-align: center;
  color: #E1E1E1;
  flex: 1 1 0;
  border-bottom: 4px solid transparent;
  transition: border 0.2s ease-in-out;
}
.header__menu-item:hover, .header__menu-item:active {
  font-weight: 600;
  border-bottom: 4px solid #FFFFFF;
}
.header__menu-item-link {
  color: #FFFFFF;
}

/* styles for header on tablet device */
@media only screen and (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .header__logo {
    padding-left: 4.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header__menu {
    padding-left: 4.2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .header__menu-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0 2.4rem;
    border-bottom: 0;
  }
  .header__menu-item:hover {
    border-bottom: 0;
  }
  .header__menu-item-link {
    font-size: 2.4rem;
    padding: 3.2rem 0;
    border-bottom: 4px solid transparent;
  }
  .header__menu-item-link:hover, .header__menu-item-link:active {
    border-bottom: 4px solid #FFFFFF;
  }
}
.hero {
  width: 100vw;
  height: 20rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(../../../assets/Images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
  /* change hero opacity */
  position: relative;
  /* change hero opacity*/
  /* styles for shows hero */
}
.hero__title {
  /* change hero opacity */
  position: relative;
  font-size: 2.4rem;
  padding: 2rem;
  font-weight: 600;
  color: #FFFFFF;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: linear-gradient(to bottom, rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5));
}
.hero--shows {
  background-image: url(../../../assets/Images/hero-shows.jpg);
  background-position: 20% 20%;
  height: 45rem;
  padding: 1.6rem;
  display: block;
}
.hero__shows-ifwrapper {
  position: relative;
}
.hero__title--shows {
  padding-left: 0;
  text-align: left;
}
.hero__name-album {
  font-weight: 400;
  padding-bottom: 1.2rem;
}
.hero__name-queen {
  font-weight: 400;
  line-height: 1.2;
}
.hero__x--ht {
  display: none;
}

/* styles for hero on tablet device */
@media only screen and (min-width: 768px) {
  .hero {
    height: 50rem;
    /* styling for hero shows */
  }
  .hero__title {
    font-size: 6rem;
    padding: 4.8rem;
    letter-spacing: 3px;
  }
  .hero--shows {
    height: 50rem;
  }
  .hero__shows-ifwrapper {
    max-width: 40vw;
    padding-left: 4.8rem;
  }
  .hero__name-album {
    font-weight: 600;
  }
  .hero__name-queen {
    font-weight: 600;
  }
}
@media only screen and (min-width: 1280px) {
  .hero {
    /* styles for shows hero */
  }
  .hero--shows {
    padding: 13rem;
    height: 55rem;
  }
  .hero__shows-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding-top: 4.8rem;
  }
  .hero__title--shows {
    flex: 1 1 1;
  }
  .hero__shows-ifwrapper {
    flex: 1 1 auto;
    align-self: center;
  }
  .hero__shows-ifwrapper iframe {
    height: 120px;
    max-width: 40vw;
  }
  .hero__x--hm {
    display: none;
  }
  .hero__x--ht {
    display: inline-block;
  }
}
.main {
  color: #323232;
}
.main__musician {
  padding: 0 1.6rem;
}
.main__musician-title {
  font-weight: 600;
  font-size: 2.4rem;
  padding-top: 2.4rem;
  padding-bottom: 1.6rem;
}
.main__musician-image {
  width: 100%;
}
.main__musician-subtitle {
  padding-top: 1rem;
  font-size: 1.4rem;
  line-height: 1.375;
}
.main__musician-subtitle h4 {
  font-weight: 600;
}
.main__bees {
  color: #000000;
  line-height: 1.125;
  padding: 2.4rem 1.6rem;
}
.main__bees-title {
  font-size: 1.4rem;
  padding-bottom: 1.6rem;
}
.main__bees-content {
  font-size: 1.3rem;
}

@media only screen and (min-width: 768px) {
  .main__musician {
    padding: 0 4.8rem;
  }
  .main__musician-title {
    font-size: 3.6rem;
    padding-top: 4.8rem;
    padding-bottom: 3.6rem;
  }
  .main__musician-subtitle {
    line-height: 2;
    padding-top: 4.8rem;
    font-size: 2.4rem;
  }
  .main__musician-subtitle h4:nth-child(2) {
    font-size: 2rem;
  }
  .main__bees {
    padding: 0 3.6rem 3.6rem;
  }
  .main__bees-title {
    font-size: 2.4rem;
    padding-top: 4.8rem;
    padding-bottom: 3.6rem;
  }
  .main__bees-content {
    font-size: 1.4rem;
    line-height: 1.375;
  }
  .main__musician-wraper, .main__bees {
    width: 80%;
    margin: 0 auto;
  }
  .main__bees {
    padding-top: 0;
  }
  .main__bees-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .main__bees-content p:first-child {
    padding-right: 2.4rem;
  }
}
@media only screen and (min-width: 1280px) {
  .main__musician {
    padding: 0 5.6rem;
  }
}
.gallery {
  width: 100%;
  height: auto;
  background-color: #FAFAFA;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
.gallery__image-wrap {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}
.gallery__title {
  font-weight: 600;
  font-size: 2.4rem;
  padding-top: 2.4rem;
  padding-bottom: 1.6rem;
  color: #323232;
}
.gallery__image {
  padding-bottom: 1.6rem;
  width: 100%;
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  filter: grayscale(70%);
  transition: filter 0.25s ease-in-out;
}
.gallery__image:hover {
  filter: grayscale(0);
}

@media only screen and (min-width: 768px) {
  .gallery__title {
    font-size: 3.6rem;
    padding-top: 4.8rem;
    padding-bottom: 3.6rem;
  }
  .gallery__wrap {
    width: 90vw;
    margin: 0 auto;
  }
  .gallery__image-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 4.8rem;
  }
  .gallery__image {
    margin: 0 auto;
    display: inline-block;
    max-width: 31%;
  }
}
.form, .comment {
  width: 90vw;
  margin: 0 auto;
  line-height: 1.25;
  font-size: 1rem;
}
.form button, .comment button {
  font-weight: 600;
  height: 4rem;
  background-color: #323232;
  color: #FFFFFF;
  border: 0;
  cursor: pointer;
  outline: 0;
  border-radius: 4px;
  transition: color 0.25s ease-in-out;
  width: 100%;
}
.form button:hover, .comment button:hover {
  background-color: #000000;
}
.form input::-moz-placeholder, .form textarea::-moz-placeholder, .comment input::-moz-placeholder, .comment textarea::-moz-placeholder {
  color: #323232;
}
.form input:-ms-input-placeholder, .form textarea:-ms-input-placeholder, .comment input:-ms-input-placeholder, .comment textarea:-ms-input-placeholder {
  color: #323232;
}
.form input::placeholder, .form textarea::placeholder, .comment input::placeholder, .comment textarea::placeholder {
  color: #323232;
}
.form label, .comment label {
  display: block;
  color: #AFAFAF;
  margin-bottom: 0.4rem;
  font-weight: 600;
}
.form input[type=text],
.form textarea, .comment input[type=text],
.comment textarea {
  width: 100%;
  padding: 1.2rem;
  outline: 0;
  margin-bottom: 1.2rem;
  border-radius: 4px;
  color: #323232;
  border: 1px solid #E1E1E1;
  background-color: #FAFAFA;
}
.form input[type=text]:focus,
.form textarea:focus, .comment input[type=text]:focus,
.comment textarea:focus {
  border: 1px solid #323232;
}
.form textarea, .comment textarea {
  min-height: 3.6rem;
}
.form--highlight, .comment--highlight {
  box-shadow: 0 0 10px #E1E1E1;
}
.form__title, .comment__title {
  font-size: 2.4rem;
  font-weight: 600;
  padding: 2.4rem 1.6rem 1.6rem 0;
  color: #323232;
}
.form__section, .comment__section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 2.4rem;
  border-bottom: 1px solid #E1E1E1;
  padding-bottom: 2rem;
}
.form__form-image, .comment__form-image {
  background-image: url(../../../assets/Images/Mohan-muruge.jpg);
  width: 100%;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  background-size: cover;
  margin-top: 1.6rem;
  margin-right: 1.6rem;
  flex: 0 0 auto;
}
.form__form, .comment__form {
  width: 100%;
  flex: 1 1 auto;
}
.form__hr, .comment__hr {
  border: 1px solid #E1E1E1;
}
.form__message-wraper, .comment__message-wraper {
  margin-right: 1.6rem;
}
.form__message-image, .comment__message-image {
  width: 3.6rem;
  height: 3.6rem;
  background-color: #E1E1E1;
  border-radius: 50%;
}
.form__message, .comment__message {
  line-height: 1.25;
  font-weight: 700;
  flex: 8 1 0;
}
.form__message-user, .comment__message-user {
  font-weight: 600;
}
.form__message-user, .form__message-date, .comment__message-user, .comment__message-date {
  display: inline-block;
}
.form__message-user, .form__message-date, .form__message-content, .comment__message-user, .comment__message-date, .comment__message-content {
  padding-bottom: 0.4rem;
}
.form__message-date, .comment__message-date {
  color: #AFAFAF;
  position: relative;
  float: right;
}
.form__message-content, .comment__message-content {
  color: #000000;
}

@media only screen and (min-width: 768px) {
  .form, .comment {
    width: 70vw;
    font-size: 1.2rem;
  }
  .form button, .comment button {
    padding: 0 3.2rem;
    width: 15rem;
    float: right;
  }
  .form label, .comment label {
    margin-bottom: 0.8rem;
  }
  .form input[type=text],
.form textarea, .comment input[type=text],
.comment textarea {
    padding: 1.6rem;
    margin-bottom: 1.2rem;
  }
  .form textarea, .comment textarea {
    min-height: 4.8rem;
  }
  .form__title, .comment__title {
    font-size: 3.6rem;
    padding: 4.8rem 3.6rem 3.6rem 0;
  }
  .form__form, .comment__form {
    padding-bottom: 1rem;
  }
  .form__form, .form__message, .comment__form, .comment__message {
    flex: 8 1 0;
  }
  .form__form-image, .form__message-image, .comment__form-image, .comment__message-image {
    width: 4.8rem;
    height: 4.8rem;
  }
}
@media only screen and (min-width: 1280px) {
  .form, .comment {
    width: 40vw;
  }
}
.footer {
  margin-top: 1.6rem;
  background-color: #323232;
  color: #FFFFFF;
  padding: 3.2rem 1.6rem 2.4rem 1.6rem;
  line-height: 1.2;
  width: 100vw;
}
.footer a {
  color: #FFFFFF;
}
.footer p {
  font-size: 1.3rem;
}
.footer h6 {
  font-size: 1.3rem;
  font-weight: 600;
}
.footer__wraper {
  width: 90vw;
  margin: 0 auto;
}
.footer__touch-title {
  font-size: 2.4rem;
  font-weight: 600;
}
.footer__icon {
  width: 100%;
  max-width: 2.4rem;
  max-height: 2.4rem;
  margin-right: 2.4rem;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.footer__icon:hover {
  color: #AFAFAF;
}
.footer__icon-wrap {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}
.footer__content {
  padding-bottom: 2.4rem;
}
.footer__content a {
  color: #FFFFFF;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.footer__content a:hover {
  color: #AFAFAF;
}
.footer__content--styling {
  padding-bottom: 1.6rem;
}
.footer__content-inner--padding {
  padding-bottom: 1.6rem;
}
.footer__logo {
  width: 100%;
  max-width: 12rem;
  max-height: 2rem;
  margin: 1.5rem 1.5rem 1.5rem 0;
  box-sizing: content-box;
  cursor: pointer;
  color: #FFFFFF;
  transition: all 0.25s ease-in-out;
}
.footer__logo:hover {
  color: #AFAFAF;
}
.footer__logo--md {
  display: none;
}

@media only screen and (min-width: 768px) {
  .footer {
    padding: 4.8rem 4.8rem;
    line-height: 1.4;
    margin-top: 2.4rem;
  }
  .footer__logo {
    width: min(18vw, 15rem);
  }
  .footer__logo--sm {
    display: none;
  }
  .footer__logo--md {
    display: block;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
  }
  .footer__logo--md:hover {
    color: #AFAFAF;
  }
  .footer__touch {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .footer__icon-wrap {
    flex-basis: 20rem;
    margin-left: 3rem;
    flex-grow: 1;
  }
  .footer__content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 3.2rem;
    font-size: 1.4rem;
  }
  .footer__content-wrap {
    padding-right: 4vw;
  }
  .footer__copyright {
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 1280px) {
  .footer {
    padding-left: 8rem;
    padding-right: 8rem;
  }
  .footer__logo--md {
    position: relative;
    left: -10px;
  }
  .footer__touch-title {
    font-size: 4.5rem;
  }
  .footer__icon-wrap {
    padding-left: 2.2rem;
  }
  .footer__content-wrap {
    padding-right: 7vw;
  }
}/*# sourceMappingURL=bio.css.map */